<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .red{
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in arr" >{{ item }}</li>
        </ul>
        <ul @click.self="self" class="red" >
            <li v-for="item, key in obj" >{{ key }}  :  {{ item }}</li>
        </ul>
        <button @click="push" >pushItem</button>
        <button @click="update" >update</button>
        <button @click="updateObj" >updateObj</button>
        <input type="text" v-model.lazy="msg" >
        <h3>{{ msg }}</h3>
        <hr>
        <component-a :msg="msg" ></component-a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script>

        var componentA = {
            props:[ "msg" ],
            data(){
                return {
                    count: 10
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.--{{ msg }}</button>'
        }

        var app = new Vue({
            el: "#app",
            data: {
                arr: [ 1,2,3,4,5,6 ],
                obj: {
                    name: "tan",
                    yu: "ayu",
                    go: "go"
                },
                msg: "我是 msg---"
            },
            methods: {
                push: function(){
                    this.arr.push("aaaa")
                },
                update: function(){
                    this.$set( this.arr, 2, "3456" )
                },
                updateObj: function(){
                    this.obj.go = "add"
                },
                self: function(){
                    console.log( "我自己---" )
                }
            },
            components: {
                componentA
            }
        })
    </script>
</body>
</html>

